{% load static from staticfiles %}
<!-- ============================================================= FOOTER ============================================================= -->
<footer class="dark-bg">
	<div class="container inner">
		<div class="row">
			
			<div class="col-md-3 col-sm-6 inner">
				<h4>Who we are</h4>
				<a href="{% url 'home' %}"><img class="logo img-intext" src="{% static 'images/logo-white.svg' %}" alt=""></a>
				<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				<a href="{% url 'team' %}" class="txt-btn">More about us</a>
			</div><!-- /.col -->
			
			{% if recent_four %}
			<div class="col-md-3 col-sm-6 inner">
				<h4>Latest posts</h4>
				
				<div class="row thumbs gap-xs">

					{% for post in recent_four %}								
					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="{% url 'blog:detail' post.pk %}">
								<figcaption class="text-overlay">
									<div class="info">
										<p>{{ post.title }}</p>
									</div><!-- /.info -->
								</figcaption>
								{% if post.images.first %}
									<img src="{{ MEDIA_URL }}{{ post.images.first.thumb }}" alt="{{ post.images.first.name }}">
								{% else %}
									<img src="{% static 'images/art/work16.jpg' %}">
								{% endif %}
							</a>
						</figure>
					</div><!-- /.thumb -->
					{% endfor %}
					
				</div><!-- /.row -->
			</div><!-- /.col -->
			{% endif %}
			
			
			<div class="col-md-3 col-sm-6 inner">
				<h4>Get In Touch</h4>
				<p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
				<ul class="contacts">
					<li><a href="https://www.google.com/maps/@29.5535645,-98.4791917,12.04z" target="_blank"><i class="icon-location contact"></i> San Antonio, TX 78232</a></li>
					<li><a href="tel:+18005551234"><i class="icon-mobile contact"></i> (800) 555-1234</a></li>
					<li><a href="#"><a href="{% url 'contact' %}"><i class="icon-mail-1 contact"></i> test@flattdesign.com</a></li>
				</ul><!-- /.contacts -->
			</div><!-- /.col -->
			
			{% if featured_post %}
			<div class="col-md-3 col-sm-6 inner">
				<h4>Figure Out What Goes Here</h4>
				<figure>
					<div class="icon-overlay icn-link">
						{% if featured_post.images.first %}
						<a href="{% url 'blog:detail' pk=featured_post.id %}"><img src="{{ MEDIA_URL }}{{ featured_post.images.first.image }}" alt="{{ featured_post.images.first.name }}"></a>
						{% else %}
						<a href="{% url 'blog:detail' pk=featured_post.id %}"><img src="{% static 'images/art/work02.jpg' %}" alt=""></a>
						{% endif %}
					</div>
					<figcaption>
						<p>{{ featured_post.tagline }}</p>
						<a href="{% url 'blog:detail' pk=featured_post.pk %}" class="btn">Read More</a>
					</figcaption>
				</figure>
			</div>
			{% endif %}
			
		</div><!-- /.row --> 
	</div><!-- .container -->
  
	<div class="footer-bottom">
		<div class="container inner">
			<p class="pull-left">© {% now 'Y' %} FLATT DESIGN. All rights reserved.</p>
			<ul class="footer-menu pull-right">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'portfolio:index' %}">Portfolio</a></li>
				<li><a href="{% url 'blog:index' %}">Blog</a></li>
				<li><a href="{% url 'services' %}">Services</a></li>
				<li><a href="{% url 'team' %}">Team</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
			</ul><!-- .footer-menu -->
		</div><!-- .container -->
	</div><!-- .footer-bottom -->
</footer>

<!-- ============================================================= FOOTER : END ============================================================= -->