{% load static from staticfiles %}
<header>
	<div class="navbar">
		
		<div class="navbar-header">
			<div class="container">
				
				<ul class="info pull-left">
					<li><a href="{% url 'contact' %}"><i class="icon-mail-1 contact"></i> test@flattdesign.com</a></li>
					<li><a href="tel:+18005551234"><i class="icon-mobile contact"></i> (800) 555-1234</a></li>
				</ul><!-- /.info -->
				
				<ul class="social pull-right">
					<li><a href="https://www.facebook.com/tc.flatt" target="_blank"><i class="icon-s-facebook"></i></a></li>
					<!-- <li><a href="#"><i class="icon-s-gplus"></i></a></li> -->
					<li><a href="https://twitter.com/FlattDesign" target="_blank"><i class="icon-s-twitter"></i></a></li>
					<li><a href="https://www.pinterest.com/flattdesign/" target="_blank"><i class="icon-s-pinterest"></i></a></li>
					<!-- <li><a href="#"><i class="icon-s-behance"></i></a></li>
					<li><a href="#"><i class="icon-s-dribbble"></i></a></li> -->
				</ul><!-- /.social -->
				
				<!-- ============================================================= LOGO MOBILE ============================================================= -->
				
				<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" class="logo" alt=""></a>
				
				<!-- ============================================================= LOGO MOBILE : END ============================================================= -->
				
				<a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
				
			</div><!-- /.container -->
		</div><!-- /.navbar-header -->
		
		<div class="yamm">
			<div class="navbar-collapse collapse">
				<div class="container">
					
					<!-- ============================================================= LOGO ============================================================= -->
					
					<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" class="logo" alt=""></a>
					
					<!-- ============================================================= LOGO : END ============================================================= -->
					
					
					<!-- ============================================================= MAIN NAVIGATION ============================================================= -->
					
					<ul class="nav navbar-nav">
						
						<li>
							<a href="{% url 'home' %}">Home</a>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">About</a>
							
							<ul class="dropdown-menu">
								<li><a href="{% url 'services' %}">Our Services</a></li>
								<li><a href="{% url 'team' %}">About Our Team</a></li>
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.dropdown -->
						
						<li>
							<a href="{% url 'blog:index' %}">Blog</a>
						</li>
						
						<li>
							<a href="{% url 'portfolio:index' %}">Portfolio</a>
						</li>
						
						<!-- ============================================================= MEGA MENU ============================================================= -->
						
						<li class="dropdown yamm-fullwidth">
							<a href="#" class="dropdown-toggle">Latest</a>
							
							<ul class="dropdown-menu yamm-dropdown-menu">
								<li>
									<div class="yamm-content row">
									
										{% if featured_post %}
										<div class="col-sm-3 inner">
											<h4>Spotlight</h4>
											<figure>
												<div class="icon-overlay icn-link">
													{% if featured_post.images.first %}
													<a href="{% url 'blog:detail' pk=featured_post.id %}"><img src="{{ MEDIA_URL }}{{ featured_post.images.first.image }}" alt="{{ featured_post.images.first.name }}"></a>
													{% else %}
													<a href="{% url 'blog:detail' pk=featured_post.id %}"><img src="{% static 'images/art/work02.jpg' %}" alt=""></a>
													{% endif %}
												</div>
												<figcaption>
													<p>{{ featured_post.tagline }}</p>
													<a href="{% url 'blog:detail' pk=featured_post.pk %}" class="btn">Read More</a>
												</figcaption>
											</figure>
										</div><!-- /.col -->
										{% endif %}
										
										{% if latest_links %}
										<div class="col-sm-3 inner">
											<h4>Latest Links</h4>
											
											<ul class="circled">
												
												{% for link in latest_links %}
												<li><a href="{{ link.link_url }}" target="_blank">{{ link.link_text }}</a></li>
												{% endfor %}
											</ul><!-- /.circled -->
										</div><!-- /.col -->
										{% endif %}
										
										{% if nav_latest_projects %}
										<div class="col-sm-3 inner">
											<h4>Latest Work</h4>
											
											<div class="row thumbs gap-xs">
												{% for project in nav_latest_projects %}
												<div class="col-xs-6 thumb">
													<figure class="icon-overlay icn-link">
														<a href="{% url 'portfolio:detail' pk=project.pk %}"><img src="{{ MEDIA_URL }}{{ project.images.first.thumb }}" alt="{{ project.images.first.name }}"></a>
													</figure>
												</div><!-- /.thumb -->
												{% endfor %}
											</div><!-- /.row -->
										</div><!-- /.col -->
										{% endif %}
										
										<div class="col-sm-3 inner">
											<h4>About Us</h4>
											<p>Voluptat ibusaped molorporro consequ idustibus. Reressi morum ut dolessiti tem nihicid ernatum, coria volore non pro officat ut autem accaborem conet. Omnis peribus qui dolent praeperrum coria.</p>
											<a href="{% url 'team' %}" class="btn">Meet Our Team</a>
										</div><!-- /.col -->
										
									</div><!-- /.yamm-content -->
								</li>
							</ul><!-- /.yamm-dropdown-menu -->
						</li><!-- /.yamm-fullwidth -->
						
						<!-- ============================================================= MEGA MENU : END ============================================================= -->
						
						<li>
							<a href="{% url 'contact' %}">Contact</a>
						</li>
						
						<li class="dropdown pull-right searchbox">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
									  
							<div class="dropdown-menu">
								<form id="search" class="navbar-form search" role="search">
									<input type="search" class="form-control" placeholder="Type to search">
									<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
								</form>
							</div><!-- /.dropdown-menu -->
						</li><!-- /.searchbox -->
						
					</ul><!-- /.nav -->
					
					<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
					
				</div><!-- /.container -->
			</div><!-- /.navbar-collapse -->
		</div><!-- /.yamm -->
	</div><!-- /.navbar -->
</header>

<!-- ============================================================= HEADER : END ============================================================= -->