{% load static from staticfiles %}

<!-- Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet" data-skrollr-stylesheet>

<!-- Customizable CSS -->
<link href="{% static 'css/orange.css' %}" rel="stylesheet" title="Color">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.transitions.css' %}" rel="stylesheet">
<link href="{% static 'css/aos.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet">

<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

<!-- Icons/Glyphs -->
<link href="{% static 'fonts/fontello.css' %}" rel="stylesheet">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
<!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->