<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="Flatt Design: Web Design and Development in San Antonio, Texas.">
<meta name="author" content="Travis C. Flatt">