<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Meta -->
		{% include 'layout/_meta.html' %}

		<title>Flatt Design - {% block title %}{% endblock title %}</title>
		
		{% include 'layout/_links.html' %}
		
		
		{% block cssextra %}
		{% endblock cssextra %}
	</head>
	<body>

		{% include 'layout/_header.html' %}

		<!-- ============================================================= MAIN ============================================================= -->
		{% block content %}
		{% endblock content %}

		<!-- ======================================================= MAIN : END ============================================================= -->
		
		{% include 'layout/_footer.html' %}
		

		{% include 'layout/_scripts.html' %}

		{% block jsextra %}
		{% endblock jsextra %}
	</body>
</html>