{% extends "layout/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Contact Us{% endblock title %}

{% block cssextra %}
{% endblock cssextra %}

{% block content %}
	<!-- ============================================================= MAIN ============================================================= -->
		
	<main id="contact-main">
		
		<!-- ============================================================= SECTION – HERO ============================================================= -->
		
		<section id="hero" class="light-bg img-bg" style="background-image: url({% static 'images/headers/office-table-with-notepad-computer-and-coffee-cup-l.jpg' %}); background-size:cover;">
			<div class="container inner">
				<div class="row">
					<div class="col-md-8">
						<header>
							<h1>Drop us a line</h1>
							<p>Send us a message about your project, and we'll get in touch as soon as possible.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- ./row -->
			</div><!-- /.container -->
		</section>
		<div class="container inner">
			<div class="row">
				
				<div class="col-md-8 inner-right-md">
				<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
				{% if messages %}
					<div class="row">
						<div class="col-sm-12">
							{% for message in messages %}
								<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									{{ message }}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				<section id="contact-form2">
					<h2>Contact Flatt Design</h2>
					<form action="" method="POST" class="forms">
						{{ form|crispy }}
						{% csrf_token %}
						<button type="submit" class="btn btn-large btn-submit">Send</button>
					</form>
				</section>

				<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
				<!-- ============================================================= SECTION – CONTACTS ============================================================= -->
					
				<!-- <section id="contacts" class="inner-top-md inner-bottom-sm">
					
					<!-- <h2>Contacts</h2>
					<p>Magnis modipsae voloratati andigen daepeditem quiate re aut labor. <br>Laceaque eictemperum quiae sitiorem rest non restibusaes.</p> -->
					
					<!-- <div class="row">
						<div class="col-sm-6">
							<h3>Flatt Design</h3>
							<ul class="contacts">
								<li><i class="icon-location contact"></i> San Antonio, TX 78232</li>
								<li><i class="icon-mobile contact"></i> (555) 555-1234</li>
								<li><a href="#"><i class="icon-mail-1 contact"></i> help@flatt-design.com</a></li>
							</ul><!-- /.contacts -->
						<!-- </div><!-- /.col -->
						<!-- <div class="col-sm-6">
							
						</div> -->
					<!-- </div><!-- /.row -->
					
				<!-- </section> -->
				
				<!-- ============================================================= SECTION – CONTACTS : END ============================================================= -->
				</div><!-- ./col -->
				
				<div class="col-md-4">
				
				<!-- ============================================================= SECTION – CONTACT NAMES ============================================================= -->
					{% if authors %}							
					<section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">
						<h3 class="team-headline sidelines text-center"><span>Our Staff</span></h3>
						
						<div class="row thumbs gap-md text-center">
							{% for author in authors %}
							<div class="col-sm-6 thumb">
								<figure class="member">
									
									<div class="member-image">
										
										<div class="text-overlay">
											<div class="info">
												<ul class="social">
													<li><a href="{{ author.facebook_url }}" target="_blank"><i class="icon-s-facebook"></i></a></li>
													<li><a href="{{ author.linkedin_url }}" target="_blank"><i class="icon-s-linkedin"></i></a></li> 
													<li><a href="{{ author.twitter_url }}" target="_blank"><i class="icon-s-twitter"></i></a></li>
												</ul><!-- /.social -->
											</div><!-- /.info -->
										</div><!-- /.text-overlay -->
										
										<img src="{{ MEDIA_URL }}{{ author.image }}">
										
									</div><!-- /.member-image -->
									
									<figcaption class="member-details bordered no-top-border">
										<h3>
											{{ author.display_name }} 
											<span>{{ author.title }}</span>
										</h3>
									</figcaption>
									
								</figure>
							</div><!-- /.col -->
							{% if forloop.counter|divisibleby:2 %}
							</div>
							<div class="row thumbs gap-md text-center">
							{% endif %}
							{% endfor %}
						</div><!-- /.row -->
					{% endif %}
						<div class="social-network">
							<h3 class="sidelines text-center"><span>Social</span></h3>
							<ul class="social">
								<li><a href="https://www.facebook.com/tc.flatt" target="_blank"><i class="icon-s-facebook"></i></a></li>
								<!-- <li><a href="#"><i class="icon-s-gplus"></i></a></li> -->
								<li><a href="https://twitter.com/FlattDesign" target="_blank"><i class="icon-s-twitter"></i></a></li>
								<li><a href="https://www.pinterest.com/flattdesign/" target="_blank"><i class="icon-s-pinterest"></i></a></li>
								<!-- <li><a href="#"><i class="icon-s-behance"></i></a></li> -->
								<!-- <li><a href="#"><i class="icon-s-dribbble"></i></a></li> -->
							</ul><!-- /.social -->
						</div><!-- /.social-network -->
					</section>
						
					<!-- ============================================================= SECTION – CONTACT NAMES : END ============================================================= -->
					
				</div><!-- /.col -->
					
			</div><!-- /.row -->
		</div><!-- /.container -->
		
	</main>
	
	<!-- ============================================================= MAIN : END ============================================================= -->

{% endblock content %}

{% block jsextra %}
<script>
	function capFirst(str) {
		strVal = '';
		str = str.split(' ');
		for (var i = 0; i < str.length; i++) {
			strVal += str[i].substring(0,1).toUpperCase() + str[i].substring(1, str[i].length) + ' ';
		}
		return strVal
	}
	
	$(document).on('ready', function() {
		$('input, textarea').on('focus', function(el) {
			var name = capFirst(this.name);
			var html = "<span class='float-label'>" + name + ":</span>";
			$(this).before($(html).hide().fadeIn(750));
		}).on('blur', function(el) {
			$('.float-label').fadeOut(750);
		});
	});
</script>
{% endblock jsextra %}
