{% extends "layout/base.html" %}
{% load static from staticfiles %}

{% block title %}Home{% endblock title %}

{% block cssextra %}
{% endblock cssextra %}

{% block content %}
	<main id="home-main">
		<section id="hero">
			<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
				
				<div class="item" style="background-image: url({% static 'images/headers/swimming_pool.jpg' %});">
					<div class="container">
						<div class="caption vertical-center text-center">
							
							<h1 class="fadeInDown-1 blue-bg light-color">Ready to Jump In?</h1>
							<p class="fadeInDown-2 blue-bg light-color">Some stuff about how complicated web design and development projects can be. It's a little bit daunting, but don't worry because we're here and we're awesome.</p>
							<div class="fadeInDown-3">
								<a href="{% url 'contact' %}" class="btn btn-large">Let us help</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({% static 'images/headers/web-designer.jpg' %});">
					<div class="container">
						<div class="caption vertical-center text-right">
							
							<h1 class="fadeInLeft-1 navy-bg light-color">We specialize <br>in <em>really</em> cool stuff</h1>
							<p class="fadeInLeft-2 navy-bg light-color">Here is an image of the kind of really cool stuff we specialize in, as we just mentioned.</p>
							<div class="fadeInLeft-3">
								<a href="{% url 'contact' %}" class="btn btn-large">I like cool stuff</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({% static 'images/headers/ipad-abstract.jpg' %});">
					<div class="container">
						<div class="caption vertical-center text-left">
							
							<h1 class="fadeInRight-1 light-color">Let us handle <br>the technology</h1>
							<p class="fadeInRight-2 light-color">Web technologies are complicated, but we know a bunch of stuff about it.</p>
							<div class="fadeInRight-3">
								<a href="{% url 'contact' %}" class="btn btn-large">Oh thank Jesus</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({% static 'images/headers/business-plans.jpg' %});">
					<div class="container">
						<div class="caption vertical-top text-left">
							
							<h1 class="fadeIn-1 blue-bg light-color">Just focus on <br>your business plan</h1>
							<p class="fadeIn-2 blue-bg light-color">Take a break from worrying about the technology and spend <br>your time brainstorming ideas for your next project.</p>
							<div class="fadeIn-3">
								<a href="{% url 'contact' %}" class="btn btn-large">Yes, I business</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({% static 'images/headers/bookeh-001.jpg' %});">
					<div class="container">
						<div class="caption vertical-top text-center">
							
							<h1 class="fadeInDown-1 light-color">Just relax <br>we've got this shit</h1>
							<p class="fadeInDown-2 medium-color">Some more reassuring stuff about how great we are about handling the treacherous internets</p>
							<div class="fadeInDown-3">
								<a href="{% url 'contact' %}" class="btn btn-large">Take my money</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
			</div><!-- /.owl-carousel -->
		</section>
		
		<!-- ============================================================= SECTION – HERO : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
		
		<section id="who-we-are">
			<div class="container inner-top inner-bottom-sm">
				
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Beautiful. Clean. Responsive.</h1>
							<p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- /.row -->
			
				<div class="row inner-top-sm">
					
					<div class="col-md-1">
						<div class="icon pull-right">
							<i class="icon-palette icn"></i>
						</div><!-- /.icon -->
					</div><!-- /.col -->
					
					<div class="col-md-3 inner-bottom-xs">
						<h2>Design</h2>
						<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
					</div><!-- /.col -->
					
					<div class="col-md-1">
						<div class="icon pull-right">
							<i class="icon-beaker icn"></i>
						</div><!-- /.icon -->
					</div><!-- /.col -->
				
					<div class="col-md-3 inner-bottom-xs">
						<h2>Develop</h2>
						<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
					</div><!-- /.col -->
					
					<div class="col-md-1">
						<div class="icon pull-right">
							<i class="icon-rocket icn"></i>
						</div><!-- /.icon -->
					</div><!-- /.col -->
				
					<div class="col-md-3 inner-bottom-xs">
						<h2>Deploy</h2>
						<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
					</div><!-- /.col -->
					
				</div><!-- /.row -->
			
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->
	
		<section id="latest-works" class="light-bg">
			<div class="container inner">
				
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Check out our latest works</h1>
							<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- /.row -->
			 
				<div class="row">
					{% for project in feature_projects %}
					<div class="col-sm-6 inner-top-sm">
						<figure>
						
							<div class="icon-overlay icn-link">
								<a href="{% url 'projects:detail' project.pk %}"><img src="{{ MEDIA_URL }}{{ project.images.first.image }}" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h3><a href="{% url 'projects:detail' project.pk %}">{{ project.title }}</a></h3>
									<p>{{ project.types.all|join:", " }}</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.col -->
					{% endfor %}
				</div>

				<div class="row inner-top-sm">
					<div id="owl-latest-works" class="owl-carousel owl-item-gap">
						{% for project in other_projects %}
						<div class="item">
							<a href="{% url 'projects:detail' project.pk %}">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>{{ project.title }}</h4>
											<p>{{ project.types.all|join:", " }}</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ MEDIA_URL }}{{ project.images.first.image }}" alt="{{ project.images.first.name }}">
								</figure>
							</a>
						</div><!-- /.item -->
						{% endfor %}
					</div><!-- /.owl-carousel -->
				</div><!-- /.row -->
				
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
		
		<section id="get-in-touch">
			<div class="container inner">
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Want to work with us?</h1>
							<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
						</header>
						<a href="{% url 'contact' %}" class="btn btn-large">Get in touch</a>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
	</main>
{% endblock content %}

{% block jsextra %}
{% endblock jsextra %}