{% extends "layout/base.html" %}
{% load static from staticfiles %}
	{% block title %}Portfolio{% endblock title %}
	
	{% block cssextra %}
	{% endblock cssextra %}
	
	{% block content %}

	<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->
	<main id="portfolio-main">
		<section id="portfolio">
			
			<div class="container inner">
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							
							<h1>3 Columns details grid portfolio</h1>
							<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			
			<div class="container inner-bottom">
				<div class="row">
					<div class="col-sm-12 portfolio">
						
						<ul class="filter text-center">
							<li><a href="#" data-filter="*" class="active">All</a></li>
							{% for type in project_types %}
								<li>
									<a href="#" data-filter=".{{ type.slug }}">{{ type.name }}</a>
								</li>
							{% endfor %}
							<!-- <li><a href="#" data-filter=".identity">Identity</a></li>
							<li><a href="#" data-filter=".interactive">Interactive</a></li>
							<li><a href="#" data-filter=".print">Print</a></li>
							<li><a href="#" data-filter=".photography">Photography</a></li> -->
						</ul><!-- /.filter -->
						
						<ul class="isotope items col-3 gap">
							{% for project in projects %}
								<li class="item thumb {% for type in project.types.all %}{{ type.slug }} {% endfor %}">
									<figure>
										<div class="icon-overlay icn-link">
											<a href="portfolio-post.html">
												<img src="{{ MEDIA_URL }}{{ project.images.first.image }}" alt="{{ project.images.first.name }}">
											</a>
										</div>
										<figcaption class="bordered no-top-border">
											<div class="info">
												<h4>
													<a href="portfolio-post.html">{{ project.title }}</a>
												</h4>
												
											</div>
										</figcaption>
									</figure>
								</li>
							{% endfor %}
							<!-- <li class="item thumb interactive">
								<figure>
								
									<div class="icon-overlay icn-link">
										<a href="portfolio-post.html"><img src="{% static 'images/art/work01.jpg' %}" alt=""></a>
									</div>
									
									<figcaption class="bordered no-top-border">
										<div class="info">
											<h4><a href="portfolio-post.html">Appscreen Dashboard</a></h4>
											<p>Interactive</p>
										</div>
									</figcaption>
									
								</figure>
							</li> -->
							
						</ul><!-- /.items -->
						
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – SHARE ============================================================= -->
		
		<section id="share" class="light-bg">
			<div class="container">
				
				<div class="col-sm-4 reset-padding">
					<a href="#" class="btn-share-md">
						<p class="name">Facebook</p>
						<i class="icon-s-facebook"></i>
						<p class="counter">1080</p>
					</a>
				</div><!-- /.col -->
				
				<div class="col-sm-4 reset-padding">
					<a href="#" class="btn-share-md">
						<p class="name">Twitter</p>
						<i class="icon-s-twitter"></i>
						<p class="counter">1263</p>
					</a>
				</div><!-- /.col -->
				
				<div class="col-sm-4 reset-padding">
					<a href="#" class="btn-share-md">
						<p class="name">Google +</p>
						<i class="icon-s-gplus"></i>
						<p class="counter">963</p>
					</a>
				</div><!-- /.col -->
				
			</div><!-- /.container -->
		</section>
	</main>		
			<!-- ============================================================= SECTION – SHARE : END ============================================================= -->

	{% endblock content %}

	{% block jsextra %}
	{% endblock jsextra %}