{% extends "layout/base.html" %}
{% load static from staticfiles %}
{% load blog_extras %}

{% block title %}{{ post.title }}{% endblock title %}

{% block cssextra %}
{% endblock cssextra %}

{% block content %}

	<!-- ============================================================= SECTION – BLOG POST ============================================================= -->
<main id="post-main">
	<section id="blog-post" class="light-bg">
		<div class="container inner-top-sm inner-bottom classic-blog">
			<div class="row">
				
				<div class="col-md-9 inner-right-sm">
					<div class="sidemeta">
						
						{% if post.post_type|inlist:'STD,IMG' %}
							<div class="post format-standard">
								<div class="date-wrapper">
									<div class="date">
										<span class="day">{{ post.published_at|date:"d" }}</span>
										<span class="month">{{ post.published_at|date:"M" }}</span>
									</div><!-- /.date -->
								</div><!-- /.date-wrapper -->
								
								<div class="post-content">
									{% if post.post_type == 'IMG' %}
									<div class="blog-post-image">
										<img src="{{ MEDIA_URL }}{{ post.images.first.image }}" alt="{{ post.images.first.name }}">
									</div>
									{%  endif %}
									
									<p class="author"><a href="#" title="Post author" data-rel="tooltip" data-placement="left">{{ post.author.display_name }}</a></p>

									<h1 class="post-title">{{ post.title }}</h1>
								
									<ul class="meta">
										<li class="categories">{{ post.categories.all|join:", " }}</li>
										<li class="comments"><a href="#">24</a></li>
										<li class="likes"><a href="#">73</a></li>
									</ul><!-- /.meta -->
									{{post.body|markdownify|safe}}
								</div>
							</div>
						{% endif %}
						{% if post.post_type == 'GAL' %}
							<div class="post format-gallery">
								
								<div class="date-wrapper">
									<div class="date">
										<span class="day">{{ post.published_at|date:"d" }}</span>
										<span class="month">{{ post.published_at|date:"M" }}</span>
									</div><!-- /.date -->
								</div><!-- /.date-wrapper -->
								
								<div class="format-wrapper">
									<a href="#"><i class="icon-picture"></i></a>
								</div><!-- /.format-wrapper -->
								
								<div class="post-content">
									
									<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">
										{% for image in post.images.all %}
										<div class="item">
											<figure>
												<img src="{{ MEDIA_URL }}{{image.image}}" alt="{{image.name}}">
											</figure>
										</div><!-- /.item -->
										{% endfor %}
										
									</div><!-- /.owl-carousel -->
									
									<p class="author"><a href="#" title="Post author" data-rel="tooltip" data-placement="left">Amber Jones</a></p> 
									
									<h1 class="post-title">{{ post.title }}</h1>
								
									<ul class="meta">
										<li class="categories">{{ post.categories.all|join:", " }}</li>
										<li class="comments"><a href="#">24</a></li>
										<li class="likes"><a href="#">73</a></li>
									</ul><!-- /.meta -->
									{{post.body|markdownify|safe}}
									
								</div><!-- /.post-content -->
								
							</div><!-- /.post -->
						{% endif %}
						{% if post.post_type == 'MED' %}
							Media Post
						{% endif %}
						{% if post.post_type == 'QUO' %}
							Quote Post
						{% endif %}
						{% if post.post_type == 'LNK' %}
							Link Post
						{% endif %}
						
						{% if post.author and post.post_type|inlist:'STD,IMG,GAL' %}
						<div class="post-author">
							<figure>
								
								<div class="author-image icon-overlay icn-link">
									<a href="#"><img src="{{ MEDIA_URL }}{{ post.author.image }}" alt="{{ post.author.display_name }}"></a>
								</div>
								
								<figcaption class="author-details">
									<h3>About the author</h3>
									<p><a href="#">{{ post.author.display_name }}</a> {{ post.author.bio }}</p>
									<ul class="meta">
										<li class="author-posts"><a href="#">All posts by {{ post.author.display_name }}</a></li>
										<li class="url"><a href="{{ post.author.website_url }}" target="_blank">{{ post.author.website_url }}</a></li>
									</ul><!-- /.meta -->
									<ul class="social">
										<li><a href="{{ post.author.facebook_url }}" target="_blank"><i class="icon-s-facebook"></i></a></li>
										<li><a href="{{ post.author.linkedin_url }}" target="_blank"><i class="icon-s-linkedin"></i></a></li>
										<li><a href="{{ post.author.twitter_url }}" target="_blank"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
								</figcaption>
								
							</figure>
						</div><!-- /.post-author -->
						{% endif %}
						
						<div id="share" class="row">
							
							<div class="col-sm-4 reset-padding">
								<a href="#" class="btn-share-md">
									<p class="name">Facebook</p>
									<i class="icon-s-facebook"></i>
									<p class="counter">1080</p>
								</a>
							</div><!-- /.col -->
							
							<div class="col-sm-4 reset-padding">
								<a href="#" class="btn-share-md">
									<p class="name">Twitter</p>
									<i class="icon-s-twitter"></i>
									<p class="counter">1263</p>
								</a>
							</div><!-- /.col -->
							
							<div class="col-sm-4 reset-padding">
								<a href="#" class="btn-share-md">
									<p class="name">Google +</p>
									<i class="icon-s-gplus"></i>
									<p class="counter">963</p>
								</a>
							</div><!-- /.col -->
							
						</div><!-- /.share -->
						
						<div id="accordion-related-posts" class="panel-group">
						<div class="panel panel-default">			  
							
							<div class="panel-heading">
								<h2 class="panel-title">
									<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion-related-posts" href="#content-related-posts">
										<span>Related posts</span>
									</a>
								</h2>
							</div><!-- /.panel-heading -->
							
							<div id="content-related-posts" class="panel-collapse collapse in">
								<div class="panel-body">
									<div id="owl-related-posts" class="owl-carousel owl-item-gap">
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="portfolio-post5.html"><img src="{% static 'images/art/work08a.jpg' %}" alt=""></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="portfolio-post5.html">Brand Stationery</a></h4>
														<p>Identity</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="portfolio-post5.html"><img src="{% static 'images/art/work10.jpg' %}" alt=""></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="portfolio-post5.html">Tri Fold Brochure</a></h4>
														<p>Print</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="portfolio-post5.html"><img src="{% static 'images/art/work03.jpg' %}" alt=""></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="portfolio-post5.html">Vintage Bicycles</a></h4>
														<p>Interactive</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="portfolio-post5.html"><img src="{% static 'images/art/work18.jpg' %}" alt=""></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="portfolio-post5.html">Modern CD Case</a></h4>
														<p>Print</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="portfolio-post5.html"><img src="{% static 'images/art/work09.jpg' %}" alt=""></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="portfolio-post5.html">Astor &amp; Yancy</a></h4>
														<p>Identity</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="portfolio-post5.html"><img src="{% static 'images/art/photograph02.jpg' %}" alt=""></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="portfolio-post5.html">Daydreaming</a></h4>
														<p>Photography</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
										
									</div><!-- /.owl-carousel -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.panel-group -->
						
						<div id="comments">
							<h2>5 Comments</h2>
							<ol class="commentlist">
								<li class="comment">
									<div class="avatar icon-overlay icn-link">
										<a href="#"><img src="{% static 'images/art/human02.jpg' %}" alt=""></a>
									</div><!-- /.avatar -->
									
									<div class="commentbody">
										
										<div class="author">
											<h3><a href="#">Jennifer Fox</a></h3>
											<div class="meta">
												<span class="date">about 5 hours ago</span>
											</div><!-- /.meta -->
										</div><!-- /.author -->
										
										<div class="message">
											<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
											<ul class="meta">
												<li class="reply"><a href="#">Reply</a></li>
												<li class="votes">24</li>
												<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
												<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
											</ul><!-- /.meta -->
										</div><!-- /.message -->
										
									</div><!-- /.commentbody -->
								</li><!-- /.comment -->
								
								<li class="comment">
									<div class="avatar icon-overlay icn-link">
										<a href="#"><img src="{% static 'images/art/human03.jpg' %}" alt=""></a>
									</div><!-- /.avatar -->
									
									<div class="commentbody">
										
										<div class="author">
											<h3><a href="#">Chris Cavill</a></h3>
											<div class="meta">
												<span class="date">about 4 hours ago</span>
											</div><!-- /.meta -->
										</div><!-- /.author-->
										
										<div class="message">
											<p>Conecus iure posaemne voloris remped modis aut accabora incim resto explaboris eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
											<ul class="meta">
												<li class="reply"><a href="#">Reply</a></li>
												<li class="votes">18</li>
												<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
												<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
											</ul><!-- /.meta -->
										</div><!-- /.message -->
										
									</div><!-- /.commentbody -->
									
									<ul class="children">
										<li class="comment">
											<div class="avatar icon-overlay icn-link">
												<a href="#"><img src="{% static 'images/art/human01.jpg' %}" alt=""></a>
											</div><!-- /.avatar -->
											
											<div class="commentbody">
												
												<div class="author">
													<h3><a href="#">Amber Jones</a></h3>
													<div class="meta">
														<span class="date">about 2 hours ago</span>
													</div><!-- /.meta -->
												</div><!-- /.author -->
												
												<div class="message">
													<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Magnis modipsae que lib volorati andigen daepeditem ut repro labor. Menis et consent accullignis dentibea autem inisita eictemperum quiae posae volor.</p>
													<ul class="meta">
														<li class="reply"><a href="#">Reply</a></li>
														<li class="votes">20</li>
														<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
														<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
													</ul><!-- /.meta -->
												</div><!-- /.message -->
												
											</div><!-- /.commentbody -->
											
											<ul class="children">
												<li class="comment">
													<div class="avatar icon-overlay icn-link">
														<a href="#"><img src="{% static 'images/art/human04.jpg' %}" alt=""></a>
													</div><!-- /.avatar -->
													
													<div class="commentbody">
														
														<div class="author">
															<h3><a href="#">Toby Evans</a></h3>
															<div class="meta">
																<span class="date">about 1 hour ago</span>
															</div><!-- /.meta -->
														</div><!-- /.author -->
														
														<div class="message">
															<p>Magnis modipsae que lib voloratati andigen daep editem ut repro labor. Laceaque quiae sitiorem rest non restibsae es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
															<ul class="meta">
																<li class="reply"><a href="#">Reply</a></li>
																<li class="votes">9</li>
																<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
																<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
															</ul><!-- /.meta -->
														</div><!-- /.message -->
														
													</div><!-- /.commentbody -->
												</li><!-- /.comment -->
											</ul><!-- /.children -->
										</li><!-- /.comment -->
									</ul><!-- /.children -->
								</li><!-- /.comment -->
								
								<li class="comment">
									<div class="avatar icon-overlay icn-link">
										<a href="#"><img src="{% static 'images/art/human05.jpg' %}" alt=""></a>
									</div><!-- /.avatar -->
									
									<div class="commentbody">
										
										<div class="author">
											<h3><a href="#">Sophie Adams</a></h3>
											<div class="meta">
												<span class="date">about 20 minutes ago</span>
											</div><!-- /.meta -->
										</div><!-- /.author -->
										
										<div class="message">
											<p>Conecus iure posae volor remped modisatae aut accabora incim resto explaboris eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo voloratati andigen emperum quiae sitiorem rest non restibsae.</p>
											<ul class="meta">
												<li class="reply"><a href="#">Reply</a></li>
												<li class="votes">3</li>
												<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
												<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
											</ul><!-- /.meta -->
										</div><!-- /.message -->
										
									</div><!-- /.commentbody -->
								</li><!-- /.comment -->
							</ol><!-- /.commentlist -->
						</div><!-- /#comments -->
						
						<div class="comment-form-wrapper">
							<h2>Leave a Comment</h2>
							
							<form id="commentform" class="forms" action="" method="post">
								
								<div class="row">
									<div class="col-sm-6">
										<input type="text" name="name" class="form-control" placeholder="Name (Required)">
									</div><!-- /.col -->
								</div><!-- /.row -->
								
								<div class="row">
									<div class="col-sm-6">
										<input type="email" name="email" class="form-control" placeholder="Email (Required)">
									</div><!-- /.col -->
								</div><!-- /.row -->
								
								<div class="row">
									<div class="col-sm-6">
										<input type="text" name="website" class="form-control" placeholder="Website">
									</div><!-- /.col -->
								</div><!-- /.row -->
								
								<div class="row">
									<div class="col-sm-12">
										<textarea name="message" class="form-control" placeholder="Enter your comment ..."></textarea>
									</div><!-- /.col -->
								</div><!-- /.row -->
								
								<button type="submit" class="btn btn-default btn-submit">Submit comment</button>
								
							</form>
							
							<div id="response"></div>
							
						</div><!-- /.comment-form-wrapper -->
					
					</div><!-- /.sidemeta -->
				</div><!-- /.col -->
				
				<aside class="col-md-3">
					
					<div class="sidebox widget">
						<h4>Random Posts</h4>
						
						<div class="row thumbs gap-xs">
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work17.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/photograph02.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work18.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work21.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work23.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="blog-post.html"><img src="{% static 'images/art/work22.jpg' %}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
						</div><!-- /.row -->
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Search Posts</h4>
						
						<form id="search" class="navbar-form search" role="search">
							<input type="search" class="form-control" placeholder="Type to search">
							<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
						</form>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Categories</h4>
						
						<ul class="circled">
							<li><a href="#">Identity (114)</a></li>
							<li><a href="#">Interactive (93)</a></li>
							<li><a href="#">Graphic Design (82)</a></li>
							<li><a href="#">Motion Graphics (77)</a></li>
							<li><a href="#">Photography (63)</a></li>
							<li><a href="#">Technology (55)</a></li>
							<li><a href="#">Business (42)</a></li>
							<li><a href="#">Print (36)</a></li>
							<li><a href="#">Audio (23)</a></li>
						</ul><!-- /.circled -->
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Archives</h4>
						
						<ul class="circled">
							<li><a href="#">March 2015</a></li>
							<li><a href="#">February 2015</a></li>
							<li><a href="#">January 2015</a></li>
							<li><a href="#">December 2013</a></li>
							<li><a href="#">November 2013</a></li>
							<li><a href="#">October 2013</a></li>
						</ul><!-- /.circled -->
						
						<a href="#" class="txt-btn">All archives</a>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Featured</h4>
						
						<figure>
							
							<div class="icon-overlay icn-link">
								<a href="blog-post.html"><img src="{% static 'images/art/work01.jpg' %}" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h4><a href="blog-post.html">Appscreen Dashboard</a></h4>
									<p>Interactive</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Custom Text</h4>
						<p>Magnis modipsae que lib voloratati andigen daepeditem reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.</p>
						<p>Conecus iure posae volor remped modiatis aut accabora incim explabo eictemperum quiae sitiorem.</p>
						<a href="#" class="txt-btn">Check out more</a>
					</div><!-- /.widget -->
					
					<div class="sidebox widget">
						<h4>Tags</h4>
						
						<div class="tagcloud">
							<a href="#" style="font-size: 12pt;">Beautiful</a> <a href="#" style="font-size: 20pt;">REEN</a> <a href="#" style="font-size: 10pt;">Quality</a> <a href="#" style="font-size: 14pt;">Website</a> <a href="#" style="font-size: 16pt;">Template</a> <a href="#" style="font-size: 12pt;">Professional</a> <a href="#" style="font-size: 20pt;">Design</a> <a href="#" style="font-size: 10pt;">Multipurpose</a> <a href="#" style="font-size: 16pt;">Portfolio</a> <a href="#" style="font-size: 10pt;">Customization</a> <a href="#" style="font-size: 19pt;">Bootstrap</a> <a href="#" style="font-size: 9pt;">Mobile</a> <a href="#" style="font-size: 14pt;">Features</a> <a href="#" style="font-size: 9pt;">Styles</a> <a href="#" style="font-size: 13pt;">Responsive</a> <a href="#" style="font-size: 9pt;">Font Icons</a> <a href="#" style="font-size: 22pt;">Love</a> <a href="#" style="font-size: 10pt;">Digital</a> <a href="#" style="font-size: 18pt;">Awesome</a> <a href="#" style="font-size: 12pt;">Passion</a> <a href="#" style="font-size: 13pt;">Typography</a> <a href="#" style="font-size: 13pt;">Clean</a> <a href="#" style="font-size: 9pt;">Easy to use</a> <a href="#" style="font-size: 20pt;">Buy it</a> <a href="#" style="font-size: 12pt;">Success</a>
						</div><!-- /.tag-cloud -->
					</div><!-- /.widget -->
					
				</aside>
				
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
</main>
	<!-- ============================================================= SECTION – BLOG POST : END ============================================================= -->
{% endblock content %}

{% block jsextra %}
{% endblock jsextra %}

